.main-content{
    .heading{
        font-weight: 700;
        color: grey;
    }
    .sub-heading{
        font-weight: 700;
        color: grey;
    }
}

.buttons{
    height: 44px;
    width: 46px;
}